/* -------------------------------------------

    1500px

--------------------------------------------- */
@media (max-width: 1920px) {
    .header-1 .ilustration {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    h1,
    .h1 {
        font-size: 6vh;
    }

}


@media (max-width: 1500px) {
    .header-1 .ilustration {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }

    h1,
    .h1 {
        font-size: 47px;
    }

    .container {
        width: 930px;
    }
}

@media (max-width: 1200px) {
    .header-1 .ilustration {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    h1,
    .h1 {
        font-size: 40px;
    }

    .header-1 h3 {
        font-size: 30px;
    }

    .navbar li a {
        font-size: 14px;
    }

    .social-icons ul {
        padding-bottom: 0;
    }

    .container {
        width: 870px;
    }
}

@media (min-width: 1200px) {
    .swiper-container-5 .container {
        width: 63%;
        max-width: 80%;
    }
}

/* -------------------------------------------

    1100px

--------------------------------------------- */

@media (max-width: 1100px) {
    .header-1 .ilustration {
        -webkit-transform: scale(.7);
        transform: scale(.7)
    }

    .social-icons {
        display: none;
    }

    .container {
        width: 710px;
    }
}


/* -------------------------------------------

    992px

--------------------------------------------- */

@media (max-width: 992px) {
    .container {
        width: auto;
        text-align: center;
    }

    .content-center {
        margin: 0 auto;
    }

    .header-1 .header-phone {
        display: none;
    }

    .masc,
    .padding-masc {
        padding: 30px 0;
    }

    .blog .subscribe {
        margin-top: 0;
    }

    .about .about-text {
        height: 100%;
    }

    .video .video-text div {
        margin: auto;
        text-align: center;
    }

    .download .download-text {
        height: 100%;
        text-align: center;
    }

    .faq .faq-text {
        height: 100%;
        text-align: center;
    }

    .blog .subscribe-text {
        height: 100%;
        margin-bottom: 30px;
    }

    .blog .subscribe-text div {
        margin: auto;
    }

    .blog .subscribe .subscribe-input {
        height: 100%;
    }

    .start {
        padding-bottom: 0;
        text-align: center;
    }

    .advantages-phone {
        display: none;
    }

    .navbar {
        font-size: 26px;
        padding-top: 10px;
        display: block;
        height: 70px;
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .1), 0 3px 12px rgba(0, 0, 0, .1);
        box-shadow: 0 3px 12px rgba(0, 0, 0, .1), 0 3px 12px rgba(0, 0, 0, .1);
    }

    .navbar-brand h3 {
        font-size: 26px;
    }

    .navbar-brand img {
        width: 40px;
        height: 40px;
    }

    .scrolled .navbar-brand img {
        width: 40px;
        height: 40px;
    }

    .navbar-collapse {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-top: 7px;
        padding: 5px 15px 15px;
        text-align: center;
        opacity: .95;
        -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .1), 0 3px 12px rgba(0, 0, 0, .1);
        box-shadow: 0 3px 12px rgba(0, 0, 0, .1), 0 3px 12px rgba(0, 0, 0, .1);
    }

    .navbar-collapse li {
        padding: 0 15px;
    }

    footer {
        height: 100%;
        text-align: center;
    }

    footer .copyright p {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    footer .footer-brand {
        display: block;
    }

    footer .footer-brand img {
        width: 40px;
    }

    footer .footer-social {
        display: block;
        height: 100%;
        margin-top: 15px;
    }

    footer {
        padding-top: 30px;
    }

    .blog .subscribe h3 {
        margin: 0;
    }

    .features ul li {
        list-style-type: none;
        margin: 0 0 30px;
    }

    .start .padding-masc,
    .team .padding-masc,
    .price .padding-masc,
    .features .padding-masc,
    .stats .masc {
        padding-bottom: 0;
    }

    .arc-line,
    .horizontal-line {
        display: none;
    }

}

/* -------------------------------------------

    767px

--------------------------------------------- */

@media (max-width: 767px) {
    h1,
    .h1 {
        font-size: 38px;
    }

    .header-1 h3 {
        font-size: 22px;
    }

    .container {
        width: 450px;
        text-align: center;
    }

    .slide-1-video {
        margin-top: 0px !important;
    }

    .waves {
        margin: 50px auto !important;
        width: fit-content !important;
    }

    .content-center {
        margin: 0 auto;
    }

    .dwnld-btn {
        margin: 7.5px;
    }

    .text-right-adaptive {
        text-align: left;
    }

    .hiden {
        display: block;
        display: inline-block;
    }

    .future .left {
        display: none;
    }
}

/* -------------------------------------------

    600px

--------------------------------------------- */

@media (max-width: 600px) {
    .ilustration {
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }

    .social-icons {
        visibility: hidden;
    }
}

/* -------------------------------------------

    500px

--------------------------------------------- */

@media (max-width: 500px) {
    .container {
        width: 400px;
    }

    .ilustration {
        -webkit-transform: scale(8.5);
        transform: scale(8.5);
    }
}

/* -------------------------------------------

    450px

--------------------------------------------- */

@media (max-width: 450px) {
    .ilustration {
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }

    .about .ilustration {
        padding: 90px 0 0;
        height: 400px;
    }

    .download .ilustration {
        padding: 90px 0 0;
        height: 400px;
    }

    .download h2 {
        font-size: 50px;
    }

    .faq .ilustration {
        padding: 90px 0 0;
        height: 400px;
    }

    .panel-title i {
        display: none;
    }
}

/* -------------------------------------------

    400px

--------------------------------------------- */

@media (max-width: 400px) {
    .mob-br {
        display: block;
    }

    .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .ilustration {
        -webkit-transform: scale(.6);
        transform: scale(.6);
    }

    .about .ilustration {
        padding: 50px 0 0;
        height: 350px;
        position: absolute;
        top: -15vh;
    }

    .download .ilustration {
        padding: 50px 0 0;
        height: 350px;
    }

    .faq .ilustration {
        padding: 50px 0 0;
        height: 350px;
    }

    .header-1 {
        height: 100%;
    }

    .header-1 .main-title {
        text-align: center;
        margin-top: 15vh;
        padding: 0;
    }

    .header-1 .main-title div {
        margin: 0;
    }

    .header-1 .header-phone {
        display: block;
        position: absolute;
        top: 42vh;
        left: 72px;
    }

    .header-1 .header-phone .wrap-img {
        margin-top: 3vh;
    }

    .header-phone .ilustration .phone-img {
        height: 53vh;
        width: 26.4vh;
        border-radius: 3.8vh;
        margin: 4vh auto;
    }

    .header-phone .ilustration-app .about-img {
        height: 46vh;
        width: 16.4vh;
        border-radius: 4vh;
        margin: 0 auto;
    }

    .slide-inner--image {
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }

    .main-title {
        height: 100vh;
    }

    .owl-theme .owl-nav {
        position: relative;
        height: 0px;
        width: 150px;
        margin: 0 auto;
    }

    .owl-theme .owl-prev {
        position: relative;
        top: -16vh;
    }

    .owl-theme .owl-next {
        position: relative;
        left: 25px;
        top: -16vh;
    }

    .background-img {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 12%;
    }

    .expanded-timeline {
        display: flex;
        top: 10px;
        left: calc(100% - 200px);
        height: 40px;
        width: 140px;
    }

    .expanded-timeline .scroll-message {
        display: none;
    }

    .expanded-timeline .expanded-timeline__counter {
        font-size: 1.5vh;
    }

    h1,
    .h1 {
        font-size: 5vh !important;
        margin-top: 0;
    }

    h2 {
        font-size: 1.4em !important;
    }

    h3 {
        font-size: 1.3em !important;
    }

    .white-h2 {
        margin-top: 6vh;
    }

    .white-h3 {
        height: 82px;
        width: 80%;
        margin: 0 auto;
        line-height: 1.5;
    }

    .appstore,
    .playmarket {
        margin: 0 5px;
        height: 40px;
        line-height: 1;
        font-size: 14px !important;
        padding: 12px 15px !important;
    }

    .header-1 .slide-1-video {
        position: fixed;
        text-align: center;
        width: 165px
    }

    .waves {
        height: 40px;
        margin: 5vh auto !important;
    }

    .waves .circle-1 {
        height: 40px;
        width: 40px;
    }

    .waves .circle-2 {
        height: 40px;
        width: 40px;
        top: -40px;
    }

    .waves .circle {
        top: -90px;
        left: -2px;
        width: 40px;
        height: 40px;
        font-size: 24px;
    }

    .stats .background-img {
        height: 100%;
    }

    .about {
        position: relative;
        height: 100vh;
        margin-top: 0px;
    }

    .background-about {
        background-position: 15%;
    }

    .about .masc,
    .about .padding-masc {
        position: absolute;
        top: 42%;
        left: 50%;
        width: 95vw;
        transform: translate(-50%, -50%);
        padding: 20px 0;
        margin: auto 0;
    }

    .about .content {
        width: 100%;
    }

    .about h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .about .about-text {
        margin: auto 0;
    }

    .about p {
        font-size: 2.6vh;
        line-height: 1.5;
        margin: 3vh 20px;
    }

    .about p b {
        margin-top: 0;
        text-align: center;
    }

    #about .row {
        margin-bottom: 0;
    }

    /*slide 3*/
    .wrap-app {
        top: 18%;
        width: 100%;
    }

    .swiper-container-3 {
        top: 60%;
        padding-top: 10px;
    }

    .swiper-container-3 .swiper-slide {
        width: 26vh;
        height: 57vh;
    }

    .swiper-container-3 .swiper-pagination-3 {
        margin: 30px auto;
    }

    /*slide 4*/
    .wrap-features .telephone-container {
        display: flex;
        position: absolute;
        top: 95%;
        left: 0;
        padding: 0;
    }

    .wrap-features .telephone {
        width: 25vh;
        height: 50vh;
        margin-top: 0;
    }

    .wrap-features {
        top: 34%;
    }

    .wrap-features .wrap-container {
        width: 100%;
        margin: 0;
    }

    .wrap-features .col-xs-6 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .wrap-features .margin-right {
        margin-right: 0;
    }

    .wrap-features .margin-left {
        margin-left: 0;
    }

    .wrap-features .item {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .wrap-features h1 {
        position: absolute;
        top: -8vh;
        left: 66%;
    }

    .wrap-features .item h4 {
        display: inline-block;
        font-size: 1.7vh;
        line-height: 1.5;
        font-weight: bold;
        width: 100px;
    }

    .wrap-features .item p {
        display: none;
    }

    .wrap-features .item .wrap-head {
        position: relative;
        margin-bottom: 0;
        line-height: 8vh;
        height: 7vh;
    }

    .wrap-features .item .icon {
        display: inline-block;
        width: 7vh;
        height: 7vh;
        line-height: 7.5vh;
        border-radius: 5px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    }

    .wrap-features .item .margin-right {
        margin-right: 1vh;
    }

    .wrap-features .item .margin-left {
        margin-left: 1vh;
    }

    .wrap-features .item .icon .fas {
        font-size: 3.6vh;
    }

    .wrap-features .text-left:first-child {
        margin-top: 0;
    }

    .wrap-features .item .icon-last {
        background: initial;
    }

    .wrap-features .item .icon-last .fas {
        color: #BA87E5;
    }

    .wrap-features .active .arc-line-right {
        display: none !important;
    }

    .wrap-features .active .horizontal-line-right {
        display: none !important;
    }

    .wrap-features .active .arc-line {
        display: none !important;
    }

    .wrap-features .active .horizontal-line {
        display: none !important;
    }

    /*slide 5 */
    .wrap-users {
        top: 17%;
        width: 100%;
    }

    .wrap-users h1 {
        font-size: 4.5vh !important;
    }

    .swiper-container-5 {
        top: 56%;
        padding-top: 0;
    }

    .swiper-container-5 .swiper-slide {
        height: 72vh;
    }

    .swiper-container-5 .swiper-wrapper .swiper-slide .user {
        height: 21vh;
        padding: 0 20px;
        text-align: left;
    }

    .swiper-container-5 .swiper-wrapper .swiper-slide .user img {
        width: 8vh;
        margin: 15px auto;
        margin-bottom: 10px;
        display: block;
        position: absolute;
        top: 2vh;
    }

    .swiper-container-5 .swiper-wrapper .swiper-slide .user h4 {
        margin-left: 11vh;
        margin-bottom: 0.5vh;
        padding-top: 3vh;
        font-size: 2vh;
    }

    .swiper-container-5 .swiper-wrapper .swiper-slide .user h5 {
        margin: 0 0 0 11vh;
    }

    .swiper-container-5 .swiper-wrapper .swiper-slide .user .stars {
        margin: 5px 0 5px 11vh;
        padding: 0;
        font-size: 1.5vh;
    }

    .swiper-container-5 .swiper-wrapper .swiper-slide .user p {
        font-size: 1.5vh;
        line-height: 3vh;
        margin: 0;
    }

    .swiper-container-5 .swiper-pagination-5 {
        margin: 15px auto;
    }

    .tel-none {
        display: none;
    }

    /*slide 6*/
    .blog .padding-masc {
        width: 100%;
    }

    .team-tel-container {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 100%;
    }

    .team-tel-container .item {
        width: 75%;
        height: 20vh;
        margin: 0 auto;
        margin-bottom: 2vh;
        background-color: #ffffff;
        border-radius: 10px;
        overflow: hidden;
    }

    .team-tel-container .wrap-image {
        width: 40%;
        height: 16.5vh;
        display: inline-block;
        overflow: hidden;
    }

    .team-tel-container .wrap-image img {
        height: 16.5vh;
        width: auto;
        transform: translate(-18%);
    }

    .team-tel-container .wrap-content {
        width: 60%;
        height: 16.5vh;
        padding: 0 10px;
        display: inline-block;
        text-align: left;
    }

    .team-tel-container .wrap-content h4 {
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: 2vh;
        font-weight: bold;
    }

    .team-tel-container .wrap-content p {
        font-size: 1.4vh;
        line-height: 1.7;
        font-weight: 200;
    }

    .team-tel-container .wrap-icons {
        height: 3vh;
        width: 90%;
        margin: 0 auto;
        border-top: 1px solid rgba(56, 72, 80, 0.3);
    }

    .team-tel-container .wrap-icons .interactive,
    .team-tel-container .wrap-icons .date {
        margin: 0.7vh;
        font-size: 1.4vh;
    }

    /*slide 7*/
    .stats .masc {
        width: 90%;
        top: 50%
    }

    .stats h1 {
        font-size: 6vh !important;
    }

    .stats .stat .fas,
    .stats .stat .far {
        font-size: 8vh;
    }

    .stats .masc .head {
        margin: 5vh 0 5vh 0;
    }

    .stats h4 {
        font-size: 3vh;
    }

    .stats .col-xs-6 {
        margin-bottom: 10vh;
    }

    .stats .result span, .stats .result b {
        font-size: 5vh;
    }

    /*slide __9 */
    .team .padding-masc {
        width: 88%;
    }

    .team .wrap-team {
        top: 19%;
    }

    .team .post-team {
        height: 8vh;
        line-height: 8vh;
        padding: 0.5vh 0 0 0;
    }

    .team .team-post-link {
        margin-bottom: 3vh;
        border-radius: 10px;
        overflow: hidden;
    }

    .team .team-item {
        height: 23vh;
    }

    .team h4 {
        font-size: 2vh;
        margin-top: 1vh;
    }

    .team p {
        font-size: 1.5vh;
    }

    .team .post-team span .fab {
        font-size: 4vh;
    }

    .team .social-link:hover span .fab {
        font-size: 4.5vh;
    }


    /*slide 9*/
    .blog .wrap-blog {
        top: 20%;
    }

    .blog .container {
        width: 300px;
    }

    .swiper-container-9-tel .container {
        width: 240px;
    }

    .swiper-container-9-tel .swiper-pagination-9-tel {
        width: fit-content;
        margin: 15px auto;
    }

    .swiper-container-9-tel .swiper-pagination-9-tel .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        margin: 0 10px !important;
    }

    .blog p {
        font-size: 1em;
    }


    /*slide 10*/
    .contact-us .wrap-contact-us {
        top: 20%;
        width: 100%;
    }

    .contact-us .padding-masc {
        top: 53%;
        width: 100%;
    }

    .contact-us .padding-masc .container {
        width: 86%;
    }
    .contact-us .form-control{
        border-radius: 14px;
    }
    .contact-us .submit-btn-icon {
        height: 7vh;
        width: 7vh;
    }


    /*slide 11*/
    .news .wrap-social {
        top: 66%;
        width: 77%;
    }

    .news .padding-masc {
        top: 43%;
        width: 88%;
    }
    .news .form-control{
        height: 4.5vh;
        border-radius: 10px;
    }
    .news .btn-subscribe {
        height: 4.5vh;
        padding: 0 12px;
        border-radius: 10px;
        float: right;
    }

    .news input {
        min-width: 10em;
    }

    /*social icon*/
    .social {
        display: inline-block;
        width: auto;
        top: 0.8vh;
        left: 1.5%;
    }

    .social .social-item {
        display: inline-block;
        padding: 1.7vh;
    }

    /*menu*/
    .navbar-white .hamburger-label {
        display: none;
    }

}


/* -------------------------------------------


 */
@media screen and (max-width: 400px) , screen and (max-height: 500px) {
    /*h1,*/
    /*.h1 {*/
    /*    font-size: 24px;*/
    /*}*/
    /*h2 {*/
    /*    font-size: 18px;*/
    /*    color: red;*/
    /*}*/
    /*h3 {*/
    /*    font-size: 14px;*/
    /*}*/
}


/* -------------------------------------------

    300px

--------------------------------------------- */

@media (max-width: 300px) {
    .ilustration {
        -webkit-transform: scale(.45);
        transform: scale(.45);
    }

    .about .ilustration {
        padding: 30px 0 0;
        height: 200px;
    }

    .download .ilustration {
        padding: 30px 0 0;
        height: 200px;
    }

    .download h2 {
        font-size: 40px;
    }

    .faq .ilustration {
        padding: 30px 0 0;
        height: 200px;
    }

}

/* -------------------------------------------

    Height

--------------------------------------------- */

@media (max-height: 730px) {
    .header-1 .ilustration {
        -webkit-transform: scale(.75);
        transform: scale(.75)
    }

}

@media (max-height: 600px) {
    .header-1 .header-phone {
        padding-top: 20px;
    }

    .header-1 .ilustration {
        -webkit-transform: scale(.65);
        transform: scale(.65)
    }

}
