@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fab,
.far,
.fas {
    font-style: normal;
}

::selection {
    background: #fff;
    color: #384850;
}

::-moz-selection {
    background: #fff;
    color: #384850;
}

body {
    background: #151515;
    padding: 0;
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'SegoeUI', Arial, sans-serif !important;
    color: #384850;
}

article,
aside,
details,
figcaption,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

a {
    color: #df1f29;
    text-decoration: none;
}

blockquote {
    padding: 10px 20px;
    color: #384850;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto 30px;
}

ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0 !important;
    -webkit-padding-start: initial !important;
    -moz-padding-start: initial;
}

menu,
ol,
ul {
    padding: 0 !important;
}

button {
    background: transparent;
    border: none;
}

button:focus {
    outline: none;
}

input,
textarea {
    font-family: 'SegoeUI', Arial;
}

textarea {
    padding: 14px;
}

input:focus,
textarea:focus {
    outline: none !important;
    border: 1px solid #df1f29;
    box-shadow: none;
}

input[type="submit"] {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

input[type="submit"]:focus {
    outline: none;
}

img {
    width: 100%;
}

/* 1.1 Typography */

h1,
h2,
h4,
h5,
h6 {
    color: #384850;
    margin-top: 0;
}

h1 {
    font-size: calc(80px + 1vw);
}

h2 {
    font-size: calc(36px + 16 * (100vw - 992px) / 1508);
}

h3 {
    font-size: calc(28px + 16 * (100vw - 992px) / 1508);
    margin-bottom: 20px;
}

h4 {
    font-size: calc(24px + 16 * (100vw - 992px) / 1508);
    font-weight: 300;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

h6 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: calc(10px + 10 * (100vw - 992px) / 1508);
}

p {
    font-size: calc(18px + 2 * (100vw - 992px) / 1508);
    line-height: 1.4;
    font-weight: 300;
}

/* 1.2 Specials Classes */

.c-white {
    color: #fff !important;
}

.navbar-white {
    color: #fff;
    background-color: transparent !important;
}

.center-block {
    display: flex;
    justify-content: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
    display: block;
}

.socials li {
    display: inline-block;
}

.share-links a {
    font-size: 19px;
    padding: .5em;
}

[class*="socicon-"] {
    display: inline-block;
    color: inherit;
    margin: 0;
    transition: opacity .3s ease;
}

#contact [class*="socicon-"] {
    padding-right: .7em;
}

[class*="socicon-"]:hover {
    opacity: .4;
}

/* 1.3 Button */

.ms-button {
    color: #151515;
    display: inline-block;
    position: relative;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: 400 !important;
    font-size: 14px;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    text-decoration: none;
    border: solid 1px;
    transition: color .4s ease;
}

.ms-button:after {
    position: absolute;
    display: block;
    content: attr(data-title);
    padding: 7px 0;
    font-size: 14px;
    left: 0;
    top: 0;
    width: 0%;
    background: #df1f29;
    color: #fff;
    text-indent: 1rem;
    transition: all .3s ease;
    overflow: hidden;
    border: none;
    bottom: 0;
}

.ms-button:hover {
    color: #df1f29;
}

.ms-button:active::after,
.ms-button:focus::after,
.ms-button:hover::after {
    width: 100%;
    padding-right: 25px;
}

.ms-btn--slider {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 11em;
    font-weight: 600;
    letter-spacing: .15em;
}

.ms-btn--slider::before {
    content: '';
    height: .1rem;
    width: 2rem;
    margin-right: .7rem;
    background: #df1f29;
    transition: width .3s ease;
}

.ms-btn--slider:hover::before {
    width: 3rem;
}

/**
 * 2. Header
 */

.ms-header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 3;
}

/* 2.1 Menu */

.ms-logo {
    position: relative;
    z-index: 7;
    height: 50px;
}

.logo-dark,
.logo-light {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease .4s;
}

.ms-logo img {
    width: auto;
    height: 100%;
}

.logo-dark.current,
.logo-light.current {
    opacity: 1;
}

.logo-dark.active,
.logo-light.active {
    opacity: 1;
    transition: opacity .1s;
}

.ms-nav {
    padding: 2em 3em;
    color: inherit;
}

/* 2.2 Burger button */

.hamburger {
    margin-right: 0;
    margin-left: auto;
    overflow: visible;
    cursor: pointer;
    z-index: 7;
    border: 0;
    transition-timing-function: linear;
    transition-duration: .3s ease;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
}

.navbar-white .hamburger-label {
    color: #fff;
}

.hamburger-label {
    display: block;
    font-family: 'Yantramanav', Arial;
    font-size: 16px;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: -4em;
    padding-right: 4em;
    text-transform: uppercase;
    line-height: 1.5em;
    transition: color .3s ease .4s;
    color: #151515;
}

.hamburger.is-active .hamburger-label {
    color: #fff !important;
    transition: color .1s ease;
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    vertical-align: middle;
}

.hamburger-inner {
    display: block;
    top: 0;
}

.navbar-white .hamburger-inner,
.navbar-white .hamburger-inner:after,
.navbar-white .hamburger-inner:before {
    background-color: #fff;
}

.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: '';
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #151515;
    transition: all .3s ease .5s;
}

.hamburger-inner:before {
    top: 8px;
    left: -8px;
}

.hamburger-inner:after {
    top: 16px;
    width: 26px;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after {
    background-color: #fff;
    transition-delay: .1s;
}

.hamburger.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger.is-active .hamburger-inner:before {
    opacity: 0;
    transition: opacity .3s ease 0s
}

.hamburger.is-active .hamburger-inner:after {
    width: 30px;
    -webkit-transform: translate3d(0, -16px, 0) rotate(-90deg);
    transform: translate3d(0, -16px, 0) rotate(-90deg);
}

/* 2.3 Collapse navigation */

.ms-nav {
    display: flex;
    align-items: center;
}

.height-full-viewport {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: #151515;
    z-index: 5;
    overflow: hidden;
    transition: height .8s cubic-bezier(0.3, 1, 0.3, 1) .1s;
}

.ms-navbar {
    z-index: 6;
    margin: 0 auto;
    display: block;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
}

.ms-nav.is-visible .height-full-viewport {
    height: 100vh;
    transition: height 1s ease;
}

.nav-item {
    cursor: pointer;
    padding: .75vh;
    opacity: 0;
    width: 240px;
    margin-left: 3em;
    transition: opacity .3s ease;
}

.ms-navbar a {
    display: block;
}

.ms-navbar .ms-btn {
    display: inline-block;
    text-transform: uppercase;
    line-height: 1;
    padding: 0 0.25em;
    position: relative;
}

.ms-navbar .ms-btn {
    font-size:1.6vh;
    letter-spacing: .02em;
    color: #fff;
    font-weight: 700 !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ms-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #df1f29;
    height: .1rem;
    top: 50%;
    width: 0;
    transition: width .3s ease;
}

.nav-item__label {
    position: relative;
    display: block;
    margin: 0.5em 0 0 0;
    margin-top: 0.25em;
    padding: 0.5vh;
    color: #555;
    font-size: 1.4vh;
    transition: color .3s ease;
    text-decoration: none;
}

.nav-item:hover .nav-item__label {
    color: #9a9a9a;
}

.is-visible .nav-item {
    opacity: 1;
    transition: opacity 2s cubic-bezier(0.16, 1.08, 0.38, 0.98) .3s;
}

.nav-item .ms-btn {
    transition: all .3s ease;
}

.nav-item:active .ms-btn,
.nav-item:focus .ms-btn,
.nav-item:hover .ms-btn {
    color: #df1f29;
    opacity: 1;
    padding-left: 2.4rem;
}

.nav-item:active .ms-btn::before,
.nav-item:focus .ms-btn::before,
.nav-item:hover .ms-btn::before {
    width: 2rem;
}

/**
 * 3. Pages Style
 */

.ms-preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    background-color: #151515;
}

.ms-main-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
    background-color: #fff;
}

.ms-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 12em;
}

.ms-section__block {
    width: 85%;
    max-width: 88em;
    margin: 0 auto 6em;
}

.ms-page-title span {
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #df1f29;
}

.page-header {
    text-transform: uppercase;
    position: relative;
    margin: 15px 0;
}

.page-desc {
    width: 50vh;
    font-size: 1.5em;
    line-height: 1.5;
    color: #151515;
    letter-spacing: .05em;
}

/**
 * 4. Home Slider
 */

.home-slider {
    padding-top: 0 !important;
}

.swiper-container {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    background: -moz-linear-gradient(top, black 0, transparent 50%, transparent 63%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, black 0, transparent 50%, transparent 63%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, black 0, transparent 50%, transparent 63%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#c9000000', GradientType=0);
    transition: all .65s ease;
}

.swiper-slide-duplicate-active .overlay,
.swiper-slide-active .overlay {
    opacity: .4;
}

.slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slide-inner--image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: .2;
    transform: scale(1.07);
    -webkit-transition: opacity .6s ease-in-out, transform 2s ease .7s;
    -moz-transition: opacity .6s ease-in-out, transform 2s ease .7s;
    transition: opacity .6s ease-in-out, transform 2s ease .7s;
}

.swiper-slide-duplicate-active .slide-inner--image,
.swiper-slide-active .slide-inner--image {
    opacity: 1;
    transform: scale(1);
}

/* 4.1 Slider navigation buttons */

.swiper-button-prev,
.swiper-button-next {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .2em;
    line-height: 2em;
    font-size: 12px;
    width: auto;
    height: 24px;
    background-image: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-button-prev {
    padding-left: 6em;
    left: 0;
    -webkit-transition: padding-left .3s ease;
    -moz-transition: padding-left .3s ease;
    transition: padding-left .3s ease;
}

.swiper-button-next {
    padding-right: 6em;
    right: 0;
    -webkit-transition: padding-right .3s ease;
    -moz-transition: padding-right .3s ease;
    transition: padding-right .3s ease;
}

.swiper-button-prev::after {
    content: "";
    width: 4em;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    -webkit-transition: width .3s ease;
    -moz-transition: width .3s ease;
    transition: width .3s ease;
}

.swiper-button-next::after {
    content: "";
    width: 4em;
    height: 1px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: calc(50% - 1px);
    -webkit-transition: width .3s ease;
    -moz-transition: width .3s ease;
    transition: width .3s ease;
}

.swiper-button-prev:hover {
    padding-left: 90px;
}

.swiper-button-prev:hover::after {
    width: 75px;
}

.swiper-button-next:hover {
    padding-right: 90px;
}

.swiper-button-next:hover::after {
    width: 75px;
}

/* 4.2 Slider inner info */

.slide-inner--info {
    position: absolute;
    width: auto;
    min-height: 50px;
    bottom: 3em;
    padding-left: 3em;
    color: #111111;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swiper-slide-active .slide-inner--info {
    opacity: 1;
    transition: opacity 1s ease 1s;
}

.slide-inner--info h1 {
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
    color: #fff;
}

.slide--info__link {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border-bottom: solid 2px;
}

.swiper-slide--bottom {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* 4.3 Pagination */

.expanded-timeline {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    z-index: 3;
    bottom: 2.8em;
    right: 3em;
    width: 40vh;
}

.swiper-pagination {
    z-index: 4;
    width: 85%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, .5);
}

.swiper-pagination-progressbar-fill {
    background: #fff !important;
}

.expanded-timeline__counter {
    color: #fff;
}

.expanded-timeline__counter span {
    text-align: center;
    margin-left: 1.8em;
    margin-right: 100%;
    padding: .4em 0;
    display: block;
}

.scroll-message {
    position: absolute;
    right: 0;
    color: #fff;
    opacity: .5;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    letter-spacing: .15em;
}

.scroll-svg {
    width: 24px;
    margin: 0 auto 1.2em;
    display: block;
    fill: #fff;
}

/**
 * 5. Albums
 */

.filtr-container {
    transition: height .5s ease-out;
    overflow: hidden;
}

.filtr-btn {
    display: inline-block;
    margin-bottom: 2.4em;
}

.filtr-btn li {
    cursor: pointer;
    display: inline-block;
    opacity: .5;
    margin-bottom: 15px;
    transition: opacity .3s ease;
}

.filtr-btn h6 {
    margin-bottom: 0;
    padding-right: 1.2em;
}

.filtr-btn li.active {
    opacity: 1;
}

.filtr-btn li:hover {
    opacity: 1 !important;
}

.album-item {
    padding-bottom: 1.8em;
}

.album-item a {
    padding-top: 60%;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.album-item__img {
    position: absolute;
    width: 100.5%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 50% 50%;
    background: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(1);
    transition: transform .3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.album-item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100.5%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

.album-item__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s ease;
}

.album-item__overlay h5 {
    position: relative;
    color: #fff;
    margin: 0;
    max-width: 100%;
    padding: 1em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    transform: scale(1.5);
    opacity: 0;
    transition: all .3s ease;
}

.album-item:hover .album-item__img {
    transform: scale(1.1);
}

.album-item:hover .album-item__cover,
.album-item:hover .album-item__overlay h5 {
    opacity: 1;
    transform: translateZ(0);
}

/**
 * 6. Gallery
 */

.ug-thumb-overlay:hover::before {
    top: 15px;
    right: 15px;
}

.ug-thumb-overlay:hover::after {
    bottom: 15px;
    left: 15px;
}

.ug-thumb-image {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transition: transform .3s ease, opacity 2s cubic-bezier(0.16, 1.08, 0.38, 0.98) 0s !important;
}

.ug-thumb-image {
    transform: scale(1) !important;
}

.ug-thumb-wrapper,
.post-item {
    pointer-events: none;
}

.ug-thumb-wrapper.ug-tile.ug-tile-clickable.ug-thumb-ratio-set:hover .ug-thumb-image {
    transform: scale(1.1) !important;
}

/**
 * 7. Blog
 */

.ms-right-sidebar {
    display: inline-block;
}

.ms-right-sidebar h5 {
    margin-bottom: 15px;
}

.ms-right-sidebar a {
    display: block;
    border-top: solid 1px rgba(103, 103, 103, .3);
    padding: 15px 0;
}

.ms-right-sidebar a:hover .post-item__title,
.ms-right-sidebar a:hover .post-item__title {
    color: #df1f29;
}

.ms-right-sidebar .post-item__title {
    margin-bottom: 0;
    transition: color .3s ease;
}

.ms-right-sidebar .post-item__date {
    margin-top: .3em;
}

#ms-blog-post img {
    margin-bottom: 30px;
}

.post-item {
    margin-bottom: 3em;
    padding-right: 3em;
}

.post-item:nth-child(2n) {
    padding-right: 15px;
    padding-left: 3em;
}

.post-item__img {
    position: relative;
    overflow: hidden;
}

.album-item__overlay::before,
.post-item__img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    background-color: rgb(240, 240, 240);
    transition: opacity 2s cubic-bezier(0.16, 1.08, 0.38, 0.98) 1.2s;
}

.loaded .album-item__overlay::before,
.loaded .post-item__img::before {
    opacity: 0;
}

.post-item__img img {
    width: 100%;
    height: auto;
    max-height: 35em;
    padding: 0;
    display: block;
}

.post-item__img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    background: rgba(231, 55, 39, 0);
    background: -moz-radial-gradient(center, ellipse cover, rgba(231, 55, 39, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(231, 55, 39, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(231, 55, 39, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(231, 55, 39, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(231, 55, 39, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(231, 55, 39, 0) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73727', endColorstr='#000000', GradientType=1);
    transition: opacity .3s ease;
}

.post-item__info {
    position: relative;
    margin: 2.5em 0 0 2.5em;
}

.post-item__title {
    width: 100%;
    max-width: 400px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 20px;
}

.post-item__date {
    margin-left: 0;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
}

.post-item__link {
    position: absolute;
    width: auto;
    bottom: 0;
    right: 0;
    padding-right: 3em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .12em;
    -webkit-transition: padding-right .3s ease;
    -moz-transition: padding-right .3s ease;
    transition: padding-right .3s ease;
}

.post-item__link::after {
    content: '';
    width: 2em;
    height: 1px;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    background: red;
    -webkit-transition: width .3s ease;
    -moz-transition: width .3s ease;
    transition: width .3s ease;
}

.post-item:hover .post-item__img::after {
    opacity: .7;
}

.post-item:hover .post-item__link::after {
    width: 3em;
}

.post-item:hover .post-item__link {
    padding-right: 4em;
}

.ms-pagination {
    padding: 0;
    display: flex;
    justify-content: center;
}

.page-item {
    height: auto;
    position: relative;
    display: inline-block;
    margin: 0 .5em;
    border-right: none !important;
}

.page-item:last-child {
    border-right: solid 1px rgba(0, 0, 0, .1);
}

.page-link {
    padding: 1em;
    display: block;
    line-height: 1em;
}

/**
 * 8. About
 */

.about__info {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.about__info h4 {
    margin: 1em 0;
}

/**
 * 9. Contact
 */

.form-group {
    position: relative;
    margin: 0;
    transition: border-color .3s ease;
}

/*.form-control1 {*/
/*    position: relative;*/
/*    display: block;*/
/*    width: 100%;*/
/*    !*padding: 0 1em;*!*/
/*    height: 34px;*/
/*    !*font-size: calc(16px + 2 * (100vw - 992px) / 1508);*!*/
/*    color: #151515;*/
/*    font-weight: 300;*/
/*    !*margin-bottom: 2em;*!*/
/*    background-image: none;*/
/*    border: 1px solid #555;*/
/*}*/
#message {
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 14px;
}

label.error {
    position: absolute;
    bottom: 1.2em;
    font-size: 12px;
    color: #df1f29;
}

/**
 * 10. Footer
 */

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
}

.ms-footer {
    width: 85%;
    max-width: 88em;
    margin: 0 auto;
    display: flex;
    font-size: 16px;
    align-items: center;
}

.ms-footer .copyright {
    padding: 1.2em 0;
    margin-left: 0;
    margin-right: auto;
}

.ms-footer .socials {
    padding: 0;
    margin-left: auto;
    margin-right: 0;
}

.ms-footer .socials a {
    padding-left: 15px;
}

/**
 * 11. Responsive Rules
 */

@media only screen and (max-width: 805px) {
    h1 {
        font-size: calc(48px + 1vw);
    }

    h6 {
        font-size: 16px;
    }

    blockquote {
        margin: 0 auto 15px;
        font-size: 1em;
    }

    .expanded-timeline {
        width: 50vh;
    }

    .ms-nav {
        padding-top: 1.4em;
    }

    .ms-navbar .ms-btn {
        font-size: 1.4em;
    }

    .ms-navbar {
        position: relative;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }

    .nav-item {
        display: inline-block;
        width: auto;
        margin-left: 0;
    }

    .nav-item__label {
        display: none;
    }

    .ms-nav {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 1.4em;
    }

    .overlay {
        background: -moz-linear-gradient(top, black 0, transparent 35%, transparent 45%, rgba(0, 0, 0, 0.9) 100%);
        background: -webkit-linear-gradient(top, black 0, transparent 35%, transparent 45%, rgba(0, 0, 0, 0.9) 100%);
        background: linear-gradient(to bottom, black 0, transparent 35%, transparent 45%, rgba(0, 0, 0, 0.9) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#c9000000', GradientType=0);
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 50vh;
    }

    .swiper-button-prev {
        padding-left: 3em;
    }

    .swiper-button-next {
        padding-right: 3em;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        width: 2em;
    }

    .swiper-button-prev:hover {
        padding-left: 3em;
    }

    .swiper-button-prev:hover::after {
        width: 2em;
    }

    .swiper-button-next:hover {
        padding-right: 3em;
    }

    .swiper-button-next:hover::after {
        width: 2em;
    }

    .expanded-timeline {
        display: none;
    }

    .slide-inner--info {
        width: 100%;
        text-align: center;
        min-height: 50px;
        bottom: 10vh;
        padding-left: 0;
        color: #111;
        z-index: 1;
        opacity: 0;
        transition: opacity 1s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .ms-btn--slider {
        margin: 15px auto;
        display: inline-block;
        letter-spacing: .15em;
        background: #df1f29;
        color: #fff;
        padding: .5em 0;
    }

    .ms-btn--slider::before {
        content: '';
        display: none;
        width: 0;
    }

    .ms-container {
        padding-top: 6em;
        padding-bottom: 3em;
    }

    .ms-container.home-slider {
        padding-bottom: 0 !important;
    }

    .ms-section__block {
        width: auto;
        margin: 0 15px 3em;
    }

    .page-desc {
        width: 100%;
        font-size: 1.2em;
        line-height: 1.5;
        color: #151515;
        letter-spacing: .05em;
    }

    .post-item,
    .post-item:nth-child(2n) {
        padding-right: 15px;
        padding-left: 15px;
    }

    #contact > div {
        margin-bottom: 30px;
    }

    .ms-footer .copyright {
        margin-left: auto;
    }

    .ms-footer .socials {
        display: none;
    }
}

/* ------------------------------------------
  slide 1 section
--------------------------------------------- */
.slide-1-video {
    margin-top: 70px !important;
}

.white {
    color: rgba(247, 250, 251, 1);
    -webkit-text-shadow: 0 0 35px rgba(0, 0, 0, .3);
    text-shadow: 0 0 35px rgba(0, 0, 0, .3);
    width: 100%;
}

.white-h3 {
    height: 110px;
    max-width: 500px;
    margin-top: 2vh;
    margin-bottom: 0;
}

.header-1 .social-icons {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    right: 0;
    padding: 0;
    z-index: 3
}

.header-1 .social-icons ul {
    margin: auto 0;
    padding-bottom: 50px;
}

.header-1 .social-icons li {
    padding: 10px 15px;
    margin: 10px 30px;
    /*border-radius: 4px;*/
    list-style-type: none;
    text-align: center;
}

.header-1 .social-icons li:hover {
    background: rgba(247, 250, 251, .3);
}

.header-1 .social-icons li a {
    font-size: 23px;
    color: rgba(247, 250, 251, 1);
    -webkit-text-shadow: 0 0 35px rgba(0, 0, 0, .1);
    text-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.social-icons li a:hover {
    color: rgba(247, 250, 251, 1);
}

.header-1 {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.header-1 .header-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    padding-top: 0;
}

.header-1 .header-phone .ilustration {
    margin: auto;
}

.header-phone .ilustration .phone-img{
    background-image: url("../images/indulgence.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 58vh;
    width: 28.4vh;
    border-radius: 4vh;
    margin: 0 auto;
}

.header-1 .main-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    padding: 0;
}

.header-1 .main-title div {
    padding: 0 15px;
    margin: auto 0;
}

.header-1 .wrap {
    border-right: solid 2px;
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

.header-carousel .owl-item {
    overflow: hidden;
}

.header-carousel .active .background-img {
    -webkit-animation: fadeIn 1s linear;
    animation: fadeIn 1s linear;
}

.header-carousel .active .main-title h1,
.header-carousel .active .main-title .h1 {
    -webkit-animation: bounceInLeft 2.1s linear;
    animation: bounceInLeft 2.1s linear;
}

.header-carousel .active .main-title h3 {
    -webkit-animation: bounceInLeft 2.2s linear;
    animation: bounceInLeft 2.2s linear;
}

/* -------------------------------------------

    Buttons, inputs

--------------------------------------------- */

.appstore,
.playmarket,
.order,
.submit {
    cursor: pointer !important;
    font-size: 16px !important;
    padding: 15px 30px !important;
    height: 60px;
    line-height: 60px;
    color: rgba(247, 250, 251, 1);
    background-color: #263238;
    font-weight: bold;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px !important;
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .3);
    box-shadow: 0 0 35px rgba(0, 0, 0, .3);
    border: none;
    margin: 7.5px 7.5px 7.5px 0;
    z-index: 10;
}

.playmarket .fa,
.appstore .fa,
.order .fa,
.submit .fa {
    outline: inherit;
    position: relative;
    top: 3px;
    font-size: 24px;
    margin-right: 5px;
}

.submit:hover,
.order:hover,
.playmarket:hover,
.appstore:hover,
.submit:focus,
.order:focus,
.playmarket:focus,
.appstore:focus {
    text-decoration: none !important;
    color: rgba(247, 250, 251, 1) !important;
    border-radius: 4px !important;
}


/* -------------------------------------------

    Iphone X css frame

--------------------------------------------- */

.iphone-x {
    margin: 0 auto;
    width: 300px;
    height: 650px;
    position: relative;
    background-color: #000;
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 40px 85px 13px rgba(15, 15, 15, .5), 0px 0px 0px 15px #111;
    box-shadow: 0px 0px 0px 12px #1f1f1f, -5px 60px 40px 40px rgba(15, 15, 15, .4), -5px 7px 0px 16px #111;
}

.single-phone {
    width: 270px;
    height: 586px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 40px 85px 13px rgba(15, 15, 15, .5), 0px 0px 0px 15px #111;
    box-shadow: 0px 0px 0px 10px #1f1f1f, 0px 10px 50px 10px rgba(15, 15, 15, .5), 0px 0px 0px 15px #111;
}

.iphone-x:before,
.iphone-x:after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.iphone-x:before {
    top: 0px;
    width: 56%;
    height: 32px;
    top: -2px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
    border: solid 1px rgba(15, 15, 15, .6);
    border-top: none;
    z-index: 2;
}

.iphone-x i,
.iphone-x b {
    position: absolute;
    display: block;
    color: transparent;
    z-index: 2;
}

.iphone-x i {
    top: 0px;
    left: 50%;
    -webkit-transform: translate(-50%, 6px);
    transform: translate(-50%, 6px);
    height: 8px;
    width: 15%;
    background-color: #101010;
    border-radius: 8px;
    -webkit-box-shadow: inset 0px -3px 3px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px -3px 3px 0px rgba(255, 255, 255, 0.2);
}

.iphone-x b {
    left: 10%;
    top: 0px;
    -webkit-transform: translate(180px, 4px);
    transform: translate(180px, 4px);
    width: 12px;
    height: 12px;
    background-color: #101010;
    border-radius: 12px;
    -webkit-box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.2);
}

.iphone-x b:after {
    content: '';
    position: absolute;
    background-color: #222;
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
    top: 3px;
    left: 3px;
    display: block;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}

.single-phone b {
    left: -10px;
}

.iphone-x img {
    width: 100%;
    border-radius: 40px;
}

.single-phone img {
    border-radius: 30px;
}

.back-phone img {
    opacity: .8;
}

/* -------------------------------------------

    Preloader

--------------------------------------------- */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.preloader .waves {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -50px;
    color: rgba(247, 250, 251, 1);
    font-size: 40px;
    text-align: center;
    line-height: 35px;
    animation: visible 2s;
}

.waves {
    position: relative;
    height: 60px;
    margin: auto;
}

.waves .circle {
    position: relative;
    top: -120px;
    left: 3px;
    margin: auto;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 10px;
    font-size: 29px;
    color: rgba(247, 250, 251, 1);
    -webkit-text-shadow: 0 0 35px rgba(0, 0, 0, .1);
    text-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.waves .circle img {
    width: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.waves .circle:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.waves .circle-1 {
    position: relative;
    margin: auto;
    background-color: rgba(247, 250, 251, 1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: wave 2s linear 0s infinite normal;
    animation: wave 2s linear 0s infinite normal;
}

.waves .circle-2 {
    position: relative;
    top: -60px;
    margin: auto;
    background-color: rgba(247, 250, 251, 1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: wave 3s linear 0s infinite normal;
    animation: wave 3s linear 0s infinite normal;
}

/* -------------------------------------------

    Video section

--------------------------------------------- */

.video .video-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    position: inherit;
}

.video .video-text div {
    margin: auto 0;
}

.video .video-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
}

.video .video-button .waves {
    margin: auto;
}

.video .waves .circle {
    position: relative;
    top: -120px;
    margin: auto;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    font-size: 29px;
    color: rgba(247, 250, 251, 1);
    -webkit-text-shadow: 0 0 35px rgba(0, 0, 0, .1);
    text-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

/* ------------------------------------------- */

/* -------------------------------------------

     About us section

--------------------------------------------- */

.about {
    height: 100vh;
    display: flex;
    z-index: 2;
}

.about h1 {
    font-size: 6vh;
    margin-top: 3vh;
    margin-bottom: 5.5vh;
}

.about .padding-masc {
    width: 80vw;
    margin: auto auto;
}

.about .container {
    display: initial;
    width: 100%;
}

.about .content {
    margin-left: auto;
}

.about .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
}

.about .ilustration {
    /*position: absolute;*/
    display: flex;
    height: 100%;
    width: 100%;
    padding-right: 146px;
}

.about .ilustration .about-img{
    background-image: url("../images/AboutUs.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 77vh;
    width: 100%;
    margin: auto auto

}


.about .front-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: -700px;
    -webkit-perspective: 500px;
    perspective: 500px;
}

.about .back-phone {
    -webkit-perspective: 500px;
    perspective: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 0px;
}

.about .front-phone .iphone-x {
    left: 80px;
    -webkit-transform: rotateY(25deg);
    transform: rotateY(25deg);
}

.about .back-phone .iphone-x {
    right: 20px;
    -webkit-transform: rotateY(25deg);
    transform: rotateY(25deg);
}


.about .front-phone .iphone {
    left: 80px;
    -webkit-transform: rotateY(25deg);
    transform: rotateY(25deg);
}

.about .back-phone .iphone {
    right: 20px;
    -webkit-transform: rotateY(25deg);
    transform: rotateY(25deg);
}

.about p {
    margin-top: 3.5vh;
    font-size: 3vh;
    line-height: 1.45;
}

.about p b {
    display: block;
    margin-top: 5.5vh;
}

/* -------------------------------------------

    Blog section

--------------------------------------------- */

.blog {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    color: #384850;
    z-index: 2;
}

.blog .wrap-blog {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog .padding-masc {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.blog h1 {
    color: #384850;
}

.blog h4 {
    font-size: 18px;
    font-weight: bold;
}

.blog p {
    font-size: 15px;
    font-weight: 300;
}

.blog .col-xs-12 {
    margin-bottom: 30px;
}

.blog .date {
    margin: 15px;
    color: rgba(56, 72, 80, 0.3);
    position: absolute;
    left: 15px;
    bottom: 0px;
    font-size: 14px;
}

.blog .interactive {
    float: right;
    margin: 15px;
    color: rgba(56, 72, 80, 0.3);
    position: absolute;
    right: 15px;
    bottom: 0px;
    font-size: 14px;
}

.blog .blog-post-link {
    border-radius: 4px;
    text-decoration: none;
    color: #263238;
}

.blog .blog-post-link:hover {
    text-decoration: none;
    color: #263238;
}

.blog .blog-item img {
    width: 100%;
}

.blog .blog-item {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.blog .blog-item span .fa {
    color: rgba(247, 250, 251, 1);
    margin: 0 5px;
}

.blog .post-text {
    min-height: 215px;
    border-radius: 0 0 4px 4px;
    padding: 15px 20px 0px 20px;
    text-align: left;
    background-color: rgba(247, 250, 251, 1);
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.blog .blog-post-link:hover img {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.blog .blog-item span {
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 34px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    color: rgba(247, 250, 251, 1);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.blog .blog-post-link:hover span {
    top: 25%;
    visibility: visible;
    -webkit-transition: all 500ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 500ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 1;
}

.blog .blog-post-link:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blog .category {
    border-radius: 4px 0 4px 0;
    position: absolute;
    width: 100px;
    padding: 5px;
    background-color: #263238;
    color: rgba(247, 250, 251, 1);
    font-size: 10px;
    text-transform: uppercase;
    z-index: 1;
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.blog .open {
    background-image: url("../images/open.png");
    width: 77px;
    height: 75px;
}

/* -------------------------------------------

    Team section

--------------------------------------------- */
.team {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    color: #384850;
    z-index: 2;
}

.team .wrap-team {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team .padding-masc {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team h1 {
    color: #fff;
}

.team h4 {
    font-size: 18px;
    font-weight: bold;
}

.team p {
    font-size: 15px;
    font-weight: 300;
}

.team .col-xs-12 {
    margin-bottom: 30px;
}

.team .team-item img {
    width: 100%;
}

.team .team-item {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.team .post-team span .fab {
    color: #6D10B6;
    margin: 0 5px;
    font-size: 32px;
}

.team .post-team {
    min-height: 60px;
    line-height: 60px;
    border-radius: 0 0 4px 4px;
    padding: 15px;
    text-align: center;
    background-color: rgba(247, 250, 251, 1);
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.team .social-link:hover span .fab {
    font-size: 36px;
    color: #384850;
}

.team .team-post-link:hover .post-team-description {
    display: none;
}

.post-team-social {
    display: none;
}

.post-team-social a,
.post-team-social a:hover {
    text-decoration: none;
}

.team .team-post-link:hover .post-team-social {
    display: block;
}

.team .post-team p {
    color: #6D10B6;
}

.team .team-post-link:hover img {
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition-duration: 1s;
}

.team .team-post-link:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*slide 8*/
.wrap-img {
    margin-top: 18vh;
    width: auto;
    height: 62vh;
}

.ilustration-app {
    /*background-image: url("../images/slide_8_App.png");*/
    /*background-size: cover;*/
    height: 100%;
}

.ilustration-app .about-img{
    background-image: url("../images/slide_8_App.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    margin: 0 auto;
}

/* -------------------------------------------

    Stats

--------------------------------------------- */

/*display center*/
.stats {
    color: #ffffff;
    position: relative;
    height: 100vh;
    z-index: 2;
}

.stats .masc {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stats .masc .head {
    margin: 50px 0 100px 0;
}

.stats .stat {
    margin: auto;
    text-align: center;
    line-height: 1;
}

.stats .result span,
.stats .result b {
    display: inline;
    color: rgba(247, 250, 251, 1);
    padding: 15px 0;
    font-weight: 100;
    overflow: hidden;
    margin-bottom: 0;
    font-size: 48px;
    -webkit-text-shadow: 0 0 35px rgba(0, 0, 0, .1);
    text-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.stats .stat .far {
    font-size: 110px;
    color: rgba(247, 250, 251, 1);
    -webkit-text-shadow: 0 0 35px rgba(0, 0, 0, .1);
    text-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.stats .stat .fas {
    font-size: 110px;
    color: rgba(247, 250, 251, 1);
    -webkit-text-shadow: 0 0 35px rgba(0, 0, 0, .1);
    text-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.stat h4 {
    text-transform: uppercase;
}

.stat .result {
    line-height: 2;
}

/*contact form */
.contact-us {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    color: #384850;
    z-index: 2;
}

.contact-us .wrap-contact-us {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-us .padding-masc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-us h1 {
    color: #384850;
}

.submit-btn {
    padding: 0 !important;
}

.submit-btn-icon {
    display: block;
    background-image: url("../images/submit.png");
    background-size: cover;
    height: 30px;
    width: 30px;
}


/*news form */
.news {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    color: #384850;
    z-index: 2;
}

.news .wrap-news {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news .wrap-social {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news .wrap-social a {
    text-decoration: none;
}

.news .padding-masc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news h1 {
    color: #fff;
}

.news input {
    min-width: 30em;
}

.btn-subscribe {
    color: #fff;
    margin-bottom: 10px !important;
    background: linear-gradient(0.25turn, #F768A6, #F58768) !important;
}

.social-circle {
    background-color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
}

.social-circle:hover {
    -webkit-animation: wave 2s linear 0s infinite normal;
    animation: wave 2s linear 0s infinite normal;
}

.news .wrap-social .fab {
    font-size: 36px;
    color: #6D10B6;
}


/*slide 3 */
.app-screenshots {
    color: #ffffff;
    position: relative;
    height: 100vh;
    z-index: 2;
}

.app-screenshots h1 {
    color: #384850;
}

.wrap-app {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-container-3 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-top: 50px;
}

.swiper-container-3 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 24vh;
    height: 52vh;
}

.swiper-container-3 .swiper-pagination-3 .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 10px !important;
}

.swiper-container-3 .swiper-pagination-3 .swiper-pagination-bullet-active {
    background-color: #6D10B6;
}

.swiper-container-3 .swiper-pagination-3 {
    width: fit-content !important;
    margin: 40px auto
}

/*slide 5 */
.users {
    color: #ffffff;
    position: relative;
    height: 100vh;
    z-index: 2;
}

.wrap-users {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.users h1 {
    font-size: 5.5vh;
    color: #384850;
}

.swiper-container-5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-top: 50px;
}

.swiper-container-5 .container  .col-md-4{
    padding-left: 22px;
    padding-right: 22px;
}

.swiper-container-5 .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 47vh;

}

.swiper-container-5 .swiper-pagination-5 {
    width: fit-content !important;
    margin: 40px auto
}

.swiper-container-5 .swiper-pagination-5 .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 10px !important;
}

.swiper-container-5 .swiper-pagination-5 .swiper-pagination-bullet-active {
    background-color: #6D10B6;
}

.swiper-container-5 .swiper-wrapper .swiper-slide .user {
    padding: 0 12px;
    color: #384850;
    background-color: #fff;
    height: 46.5vh;
    text-align: center;
    border-radius: 12px;
}

.swiper-container-5 .swiper-wrapper .swiper-slide .user img {
    width: 11vh;
    margin: 2.8vh auto;
    margin-bottom: 1vh;
}

.swiper-container-5 .swiper-wrapper .swiper-slide .user h4 {
    font-weight: bold;
    font-size: 18px;
}

.swiper-container-5 .swiper-wrapper .swiper-slide .user h4 {
    font-weight: 800;
    font-size: 1.8vh;
    margin-top: 2vh;
}

.swiper-container-5 .swiper-wrapper .swiper-slide .user h5 {
    font-weight: 100;
    font-size: 1.4vh;
    margin-top: 1.4vh;
}

.swiper-container-5 .swiper-wrapper .swiper-slide .user p {
    /*height: 180px;*/
    margin: 0 2em;
    padding-bottom: 3vh;
    overflow: hidden;
    font-weight: 500;
    font-size: 1.3vh;
    line-height: 2.7vh;
}

.swiper-container-5 .swiper-wrapper .swiper-slide .user .stars {
    font-size: 2.5vh;
    color: #F768A6;
    margin: 1.9vh auto;
    padding: 0 20px;
}

    /*slide 5 features */
.features {
    color: #384850;
    position: relative;
    height: 100vh;
    z-index: 2;
}

.wrap-features {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.wrap-features .wrap-container {
    width: 80%;
    margin: 0 auto;
    margin-left: 12%;
}
.wrap-features .telephone-container {
    display: flex;
}

.wrap-features .margin-right {
     margin-right: -3.5%;
 }

.wrap-features .margin-left {
    margin-left: -3.5%;
}

.wrap-features .telephone {
    transition-duration: 0.5s;
    background-image: url('../images/features_lightbulb.png');
    background-position: center;
    background-size: cover;
    width: 53vh;
    height: 91vh;
    margin: 0 auto;
    margin-top: -4vh;
}

.wrap-features h1 {
    font-size: 6vh;
    font-weight: bold;
    margin-bottom: 14.5vh;
}

.wrap-features .item {
    margin-top: 5.5vh;
}

.wrap-features .text-left:first-child {
    margin-top: 23vh;
}

.wrap-features .item .wrap-head {
    position: relative;
    float: none;
    height: 50px;
    display: inline-block;
    margin-bottom: 0;
    z-index: 3;
}
.wrap-features .item .wrap-head:hover {
    cursor: pointer;
}

.wrap-features .item .wrap-head .arc-line {
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(0.25turn, #F768A6, #F58768);
}

.wrap-features .item .wrap-head .horizontal-line {
    display: none;
    position: absolute;
    height: 3px;
    background: linear-gradient(0.25turn, #F768A6, #F58768);
}

.wrap-features .item .wrap-head .arc-line-right {
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(0.25turn, #F768A6, #F58768);
    z-index: 1;
}

.wrap-features .item .wrap-head .horizontal-line-right {
    display: none;
    position: absolute;
    height: 3px;
    background: linear-gradient(0.25turn, #F768A6, #F58768);
    z-index: 1;
}

.wrap-features .item h4 {
    display: inline-block;
    font-size: 1.7vh;
    font-weight: bold;
}

.wrap-features .item .margin-right {
    margin-right: 1vh;
}

.wrap-features .item .margin-left {
    margin-left: 15px;
}

.wrap-features .item p {
    margin-top: 1vh;
    font-size: 1.6vh;
    font-weight: 500;
    line-height: 2.5vh;
}

.wrap-features .item .icon {
    display: inline-block;
    width: 5vh;
    height: 5vh;
    line-height: 5.5vh;
    text-align: center;
    border-radius: 1vh;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.wrap-features .active .arc-line-right{
    display: block !important;
}
.wrap-features .active .horizontal-line-right{
    display: block !important;
}
.wrap-features .active .arc-line{
    display: block !important;
}
.wrap-features .active .horizontal-line{
    display: block !important;
}

.wrap-features .active .icon{
     background: linear-gradient(0.25turn, #F768A6, #F58768);
}
.wrap-features .active .icon .fas{
    transition-duration: 1s;
    color: #fff !important;
}

.wrap-features .item .icon .fas {
    font-size: 2.2vh;
    color: #BA87E5;
}

.wrap-features .item .icon-active .fas {
    color: #fff;
}

.team-tel-container {
    display: none;
}

/*Sotial icons*/
.social {
    position: fixed;
    top: 14%;
    left: 1.5%;
    width: min-content;
    z-index: 2;
}
.social .social-item {
    padding: 0.7vh;
    color: #ffffff;
}
.social a:hover,
.social a:visited,
.social a:focus {
    text-decoration: none;
}
.social .fab {
    font-size: 2.8vh;
}
